[class*="note-"] {
  height: 50px;
  margin: 2px;
  width: 50px;
  padding: 0;
  border: none;
}

[class*="playbtn-"] {
  height: 50px;
  margin: 2px;
  width: 80px;
  padding: 0;
  border: none;
}

[class*="instrument-"] {
  height: 50px;
  margin: 2px;
  width: 80px;
  padding: 0;
  border: none;
}

*:focus {
    outline: none;
}

.note-enabled{
  background: #5AC367;
}

.note-disabled{
  background: #2B2B2B;
}

.note-enabled-playing{
  background: #FFFFFF;
}

.note-disabled-playing{
  background: #888888;
}

.playbtn-playing{
  background: #5AC367;
}

.playbtn-paused{
  background: #2B2B2B;
}

.instrument-not-selected{
  background: #2B2B2B;
}

.board{
  display: block;
}

.play{
  height: 50px;
  margin: 2px;
  width: 50px;
  background: #73AD21;
  padding: 0;
  border: none;
}

.pause{
  height: 50px;
  margin: 2px;
  width: 50px;
  background: #73AD21;
  padding: 0;
  border: none;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    width: 950px;
}
