[class*="note-"] {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}



.note-enabled{
  background: #fff;
  
}

.note-disabled{
  background: #6f5;
}
